.nav {
  background-color: #2a5496;
  padding: 15px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  width: 100%;
}
.logo-img {
    height: 80px;
    width: auto;
    padding: 10px;
    display: flex;
    vertical-align: middle;
}
footer{
  background-color: #2a5496;
  color:white;  
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
}
body {
  padding: 0px;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}
