nav {
  padding: 0 !important;
}
.nav {
  margin: 0;
  background-color: #2a5496;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  width: 100%;
}
.logo-img {
    height: 80px;
    width: auto;
    padding: 10px;
    display: flex;
    vertical-align: middle;
    border-radius: 20px;
}
footer{
  background-color: #2a5496;
  color:white;  
  text-align: center;
  padding: 10px;
  bottom: 0;
  width: 100%;
  display:flex;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
}
body {
  height: 100%;
  padding: 0px;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}
.loginContainer{
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center;     /* Centers vertically */
  margin: 0;     /* Remove default margin */
  padding: 0;    /* Remove default padding */
  box-sizing: border-box; /* Ensures padding and borders are included in the 100vw/100vh size, preventing overflow/scrollbars */
  height: 100vh;
  width: 100%;           /* Ensures the container fills the full page height */
  outline: solid 1px black;
  background-image: url('../images/pokemoncaseimage.jpg'); 
  background-size: cover;
  background-position: center;
  /*filter: blur(8px); /* Blurs only this element */
}
.loginForm{
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 25px;
  background-image: linear-gradient(rgba(100, 100, 100, 0.75), rgba(100, 100, 100, 0.75));
    /* The first part (rgba...) adds a black overlay with 50% opacity */
    background-size: cover;
    background-position: center;
    color: white;
}

table, th, td {
  border: 1px solid;
}
th, td {
  padding: 10px;
}
.welcome {
  text-align: center;
  min-height: 50%;
}